body {
 background-color:red;
}
h1 {
    color:white;
}
p {
color:gold;
}
ul {
color:silver;
}
img {
height:150px;
}
 p {font-family:'Cinzel Decorative', cursive;}
 ul {font-family: 'Cinzel Decorative', cursive;}
    
